DATABASE_URL=postgresql+psycopg://postgres:password@localhost:5432/ai_first_crm_hcp

GROQ_API_KEY=your_groq_api_key
# MODEL_NAME=gemma2-9b-it  as of 2024-06-05, the model is not available anymore, so we are using the new one below

MODEL_NAME=llama-3.3-70b-versatile